#quote-box {
    border: solid black 1px;
    width: 60vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.main-box {
    width: 80%;
    border: 2px red solid;
    margin: auto 0;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#text {
    background-color: pink;
    text-align: center;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

#author {
    background-color: aquamarine;
    text-align: end;
    margin-right: 2rem;
    align-self: end;
    justify-self: end;
}

#new-quote {
    margin-bottom: 3vh;
}