@media only screen and (max-width: 950px) {
    #tweet-quote span {
        display: none !important;
    }
}

#quote-box {
    width: 60vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: solid black 1px;
}

.main-box {
    width: 90%;
    margin: auto 0;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

#text {
    text-align: center;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
}

#author {
    text-align: end;
    margin-right: 2rem;
    margin-top: 1rem;
    align-self: end;
    justify-self: end;
    letter-spacing: 2px;
    font-size: 17px;
    cursor: default;
}

/* HANDLING BUTTONS */
.container-fluid {
    width: 100px;
}

.row {
    padding: 0 2rem 1rem 2rem;
}

#new-quote {
    width: fit-content;
    height: 50px;
    border-radius: 8px;
    background-color: black;
    color: white;
    border: none;
}

#tweet-quote {
    width: fit-content;
    text-decoration: none;
}

#tweet-quote span {
    margin-left: 1.5rem;
    color: black;
}